<main class='flex flex-col justify-center items-center gap-8'>
  <a href='/' class='self-start text-xl'><i
      class='fa-solid fa-arrow-left'
    ></i></a>
  <div class='flex flex-col gap-4 justify-center items-center'>
    <img width='120' src='{{team.image}}' alt='{{team.name}}' />
    <h2>{{team.name}}</h2>
  </div>

  <table
    class='table-auto border-separate border-spacing-x-1 bg-slate-800 text-slate-300 shadow-sm border-8 border-slate-800'
  >
    <thead class='font-semibold bg-slate-700'>
      <tr>
        <td class='p-4 py-2'>Information</td>
        <td class='p-4 py-2'>Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class='p-4 py-2'>Name</td>
        <td class='p-4 py-2'>{{team.name}}</td>
      </tr>
      <tr>
        <td class='p-4 py-2'>Area</td>
        <td class='p-4 py-2'>{{team.area.name}}</td>
      </tr>
      <tr>
        <td class='p-4 py-2'>Address</td>
        <td class='p-4 py-2'>{{team.address}}</td>
      </tr>
      <tr>
        <td class='p-4 py-2'>Phone</td>
        <td class='p-4 py-2'>{{team.phone}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <a href='/teams/{{team.abbreviation}}/edit'>
      <button
        class='py-2 px-4 bg-slate-700 hover:bg-slate-800 shadow-sm rounded text-slate-300 transition-all duration-300 ease-in-out'
      >Edit</button>
    </a>
    <button
      class='py-2 px-4 bg-slate-700 hover:bg-red-700 shadow-sm rounded text-slate-300 transition-all duration-300 ease-in-out'
    >Delete</button>
  </div>
</main>
